.cards{
  padding: 100px;
  background-color: rgb(234, 247, 242);
}
.btn{
  display: flex;
  flex-direction: column;
}
.cards-container{
  display: flex;
}

.card{
  display: flex;
  align-items: center;
  border: 1px rgb(117, 115, 115) solid;
  gap: 20px;
}
img{
  margin-right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}